<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vóisa Recepies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>

<nav class="header navbar navbar-expand-md fixed-top navbar-light">
    <a class="brand navbar-brand" href="#">Vóisa Recipes</a>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
