{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="content-header col-xs-12 col-sm-12">
		{{ error }}
	</div>
	<div class="title">EDIT ITEM</div>
</div>

<div class="row newItem-form">
	<br>
	<div>
		<form action="{{ url_for('editItem', item_name=item.name) }}" method="POST">
			<div class="content-ingredient col-xs-12 col-sm-4">
				<p>Name:</p>
                <input class="input name-item" type="text" name="name" placeholder="{{item.name}}">
                <br>

                <p>Category (Actually: {{item.category.name}}):</p>
                <select name="category">
                    <option value="" disabled selected>Select your option</option>
                    {% for category in categories  %}

                        <option value="{{ category.id }}">{{ category.name }}</option>

                    {% endfor %}
                </select>

				<p>Ingredients:</p>
                {% for key, value in ingredients.iteritems() %}
                <input class="input ingredient" type="text" name="{{key}}" placeholder="{{value}}">
                {% endfor %}
				<br>
			</div>

			<div class="content-ingredient col-xs-12 col-sm-8">
				<p>Directions:</p>
				​<textarea class="input directions" rows="12" name="directions" placeholder="{{ item.directions }}"></textarea>
				<br>

				<input type="submit" name="edit" value="Edit">
				|
				<a class="header-link" href="{{ url_for('showCategories') }}">Cancel</a>
				<br><br>
			</div>

		</form>
	</div>
	<br><br>
</div>
{% endblock %}
