body {
    background-color: #C0C583;
}

.header {
    background-color: #3599BB;
}

.brand{
    color: #E7E9E4;
}

.content-items {
    border-style: solid;
    border-color: transparent transparent transparent #C0C583;
    background-color: #D3E9F6;
    height: 500px;/*não responsivo, mudar*/
}

.content-categories {
    background-color: #D3E9F6;
    height: 500px;/*não responsivo, mudar*/
}

.content {
    background-color: #D3E9F6;
}

.title {
    text-align: center;
    padding: 0.5em;
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

.category {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
}

.item {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3em;
}

.subcategory {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    font-style: italic;
}

.content-header {
    text-align: center;
    padding: 1em;
}

.log-button {
    float: left;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.login-form {
    margin: 30px;
    padding: 30px;
}

.logins-button {
    margin-top: 1em;
    padding-top: 1em;
}

.fb-button, .g-button {
    padding: 1em;
}

#result {
    color: #E7E9E4;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
}

.directions {
    width: 100%;
}

.category, .name-item, .ingredient {
    width: 100%;
}

.ingredient {
    margin-bottom: 2px;
}

.error {
    color: #ff0000;
}

.newItem-form {
    background-color: #D3E9F6;
}

.user-image {
    width: 50px;
}

@media only screen and (max-width: 768px) {
	.user-image{
		display: none;
	}
}
