body {
    background-color: #C0C583;
}

.header {
    background-color: #3599BB;
}

.brand{
    color: #E7E9E4;
}

.main-content {
    background-color: #D3E9F6;
    margin-top: 1em;
}

.title {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

.category {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
}

.item {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3em;
}

.subcategory {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    font-style: italic;
}

.content-header {
    font-family: 'PT Sans', sans-serif;
    padding: 1em;
    color: #ff0000;
    font-size: 1.3em;
}

.log-button {
    float: left;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.login-form {
    margin: 30px;
    padding: 30px;
}

.logins-button {
    margin-top: 1em;
    padding-top: 1em;
}

.fb-button, .g-button {
    padding: 1em;
}

#result {
    color: #E7E9E4;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
}

.name-item, .ingredient-item, .category-item, .directions-item  {
    width: 100%;
}

.ingredient {
    margin-bottom: 2px;
}

.error {
    color: #ff0000;
}

.user-image {
    width: 50px;
}

.recipe-img {
    width: 100%;
}

@media only screen and (max-width: 768px) {
	.user-image{
		display: none;
	}
}

.subtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.text {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.0em;
}

.ingredients, .directions, .info, .delete-item {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.slogan {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: bold;
}
